header {
  display: flex;
  background: url(../img/floor4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
  justify-content: center;
  grid-area: header;

  .animal {
    position: relative;
    top: 5%;
    width: 100%;
    height: 50%;
  }

  .fire {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 70%;
  }

  h1 {
    @include text-lava();
    position: absolute;
    top: 38%;
    color: $text-color;
    font-size: 4em;
  }

  @media only screen and (min-width : 728px) {
    .animal {
      height: 80%;
    }

    h1 {
      top: 60%;
    }
  }
}