aside {
  z-index: 1;
  background: $lava-color3;

  &:nth-child(3) {
    grid-area: aside1;
  }

  &:nth-child(5) {
    grid-area: aside2;
  }

  &:nth-child(7) {
    grid-area: aside3;
  }

  .aside-top {
    height: 20px;
    margin-top: -20px;
    background-image: url(../img/aside_top.png);
  }

  .lava-wave {
    height: 100%;
    background-image: url(../img/lava_aside.png);
    animation: wave 650s infinite linear;
  }

  .aside-bottom {
    height: 20px;
    margin-top: -10px;
    background-image: url(../img/aside_bottom.png);
  }
}