aside{
    &:nth-child(3) {grid-area: aside1;}
    &:nth-child(5) {grid-area: aside2;}
    &:nth-child(7) {grid-area: aside3;}

    background: $lava-color3;
    z-index: 1;
    

    .aside-top{
        background-image: url(../img/aside_top_small.png);
        height: 20px;
        margin-top: -20px;
    }

    .lava-wave{
        background-image: url(../img/lava_aside.png);
        height: 100%;
        animation: wave 650s infinite linear;
    }

    .aside-bottom{
        background-image: url(../img/aside_bottom_small.png);
        height: 20px;
        margin-top: -10px;
    }
}