footer {
    grid-area: footer;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: $lava_color2;
    text-align: center;

    img[alt="instagram"] {
        height: 35px;
    }

    div {
        margin: 30px 0 0 0;

        &>div {
            margin: 10px 0 50px 0;
        }
    }

    p {
        background-color: $lava_color1;
        padding-top: 10px;
        padding-bottom: 10px;

        a {
            text-decoration: none;
        }

        .grav {
            margin-bottom: -5px;
            transition: transform 0.8s ease-in-out;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }
}