header {
    grid-area: header;

    text-align: center;
    background: url(../img/header_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    nav {
        position: fixed;
        width: 100%;
        margin: 20px 0;

        ul li {
            display: inline;
            color: $text-color;

            a {
                color: $text-color;
                text-decoration: none;
            }

            span {
                margin: 0 20px;
            }

        }
    }

    h1 {
        font-size: 4em;
        position: absolute;
        width: 100%;
        top: 50%;
        color: $text-color;
        @include text-outline(#292929);
    }
}