header {
    grid-area: header;

    display: flex;
    justify-content: center;


    text-align: center;
    background: url(../img/floor4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    .animal{
        width: 100%;
        height: 50%;
        top: 5%;
        position: relative;
    }

    .fire{
        top: 50%;
        position: absolute;
        height: 70%;
        width: 100%;
    }

    h1 {
        font-size: 4em;
        position: absolute;
        // height: 100%;
        top: 38%;
        color: $text-color;

        @include text-lava();
        // @include text-outline(#292929);
    }

    @media only screen and (min-width: 728px) {
        .animal{
            height: 80%;
        }

        h1{
            top: 60%;
        }
    }
}