#lava-wave {
    background-image: url(../img/lava_wave.png);
    height: 30px;
    margin-top: -30px;
    position: sticky;
    bottom: 0;
    grid-area: footer;
    z-index: 5;
    animation: wave 500s infinite linear,
        wave2 5s infinite linear;
}

#lava-wave1 {
    background-image: url(../img/lava_wave1.png);
    height: 30px;
    margin-top: 133px;
    position: sticky;
    bottom: 0;
    grid-area: footer;
    z-index: 5;
    animation: wave 750s infinite linear,
        wave2 5s infinite linear 2.5s;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes wave {
    from {
        background-position-x: 0%;
    }

    to {
        background-position: 1000%;
    }
}

@keyframes wave2 {
    from {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    to {
        transform: translateY(0px);
    }
}