nav {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    z-index: 10;

    ul li {
        display: inline;
        color: $text-color;
        color: #000;

        a {
            color: #000;
            text-decoration: none;
        }

        span {
            margin: 0 20px;
        }

    }

    &.scrolled{
        background-color: rgba(0,0,0,.75);
        ul li {
            color:fff;
            a, span{
                color: #fff;
            }
        }

    }
}