/*
 *  Lava1 #ffa517 //Gelb - Lava Hintergrund
 *  Lava2 #ff6100 //Orange - Lava
 *  Lava3 #e74608 //Dunkel - Orange Lava Hitzeflecken
 *
 *  Firebrick #f7484e // Feuer
 *  Ash #292929 //Asche
 */

$lava-color1: #ffa517;
$lava-color2: #ff6100;
$lava-color3: #e74608;

$fire-color: firebrick;
$ash-color: #292929;

$background-color: $lava-color1;
$text-color: #fff;

$primary-color : $ash-color;
$sekundary-color: $lava-color2;