#facts {
    display: flex;
    overflow: hidden;

    .floor {
        background-image: url(../img/floor1.jpg);
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

        .animal {
            position: relative;
            top: 20%;
            width: 100%;
            height: 100%;
        }

        .fire {
            position: relative;
            top: -70%;
            width: 100%;
            height: 100%;
        }
    }

    section {
        margin-top: 20px;
        text-align: center;
        background-color: transparent;
        color: #000;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        min-height: 620px;

        h2 {
            @include text-lava();
            margin: 20px 0 40px 0;
        }

        ul {
            li {
                list-style: none;
                padding-bottom: 10px;

            }
        }
    }

    @media only screen and (min-width: 728px) {
        .floor {
            .animal {
                height: 60%;
                top: 50%;
            }

            .fire {
                height: 80%;
                top: -10%;
            }
        }

        section {
            margin-top: 40px;
        }
    }
}