#what {
  .floor {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/floor3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;

    .animal {
      position: relative;
      top: 25%;
      height: 50%;
    }

    .fire {
      position: relative;
      top: -40%;
      height: 100%;
    }
  }

  section {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    h2 {
      @include text-lava();
    }

    p {
      padding: 20px;
    }
  }

  @media only screen and (min-width : 728px) {
    flex-direction: row-reverse;
  }
}