section {
    &:nth-child(2) {grid-area: content1;}
    &:nth-child(4) {grid-area: content2;}
    &:nth-child(6) {grid-area: content3;}
    &:nth-child(8) {grid-area: content4;}

    height: 100%;
    background-color: $primary-color;
    color: $text-color;

    display: flex;
    flex-direction: column;
}

@import "section_what";
@import "section_rules";
@import "section_facts";
@import "section_order";