#what {
    .floor {
        display: flex;
        overflow: hidden;
        background-image: url(../img/floor3.jpg);
        height: 100%;
        width: 100%;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;

        .animal {
            position: relative;
            height: 50%;
            top: 25%;
        }

        .fire {
            position: relative;
            height: 100%;
            top: -40%;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        // min-height: 350px;

        h2 {
            @include text-lava();
        }

        p {
            padding: 20px;
        }
    }

    @media only screen and (min-width: 728px) {
        flex-direction: row-reverse;

        .floor {
            .fire {
                top: 10%;
            }
        }
    }
}