section {
    &:nth-child(2) {grid-area: content1;}
    &:nth-child(4) {grid-area: content2;}
    &:nth-child(6) {grid-area: content3;}
    &:nth-child(8) {grid-area: content4;}

    background-color: $primary-color;
    color: $text-color;
    height: 100%;

    .lava-fall { 
        float: left;
        height: 100%;
        max-width: 100%;
        margin-left: -5%;
        width: 10%;

        /* Lava_wall */
        // float: left;
        // height: 100%;
        // max-width: 100%;
        // shape-outside: polygon(0 0, 20% 0, 100% 100%, 0% 100%);
        // Hosten des Bildes notwendig
        // shape-outside: url('../img/lava_floor.png');
        // shape-image-threshold: 0.0;
	    // shape-margin: 2em;
    }
}

@import "section_what";
@import "section_rules";
@import "section_facts";
@import "section_order";