section:nth-child(8) {
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 4em;
    align-items: center;

    h2 {
        text-align: center;
    }

    p {
        margin: 40px 0 40px 0;
        width: 33%;
        text-align: center;
    }

    div{
        display: flex;
        
        form {
            input {
                width: 250px;
            }
            
            input[name="input_name"] {}
        }
        
        img {
            width: 50%;
            margin-left: 100px;
        }
    }
        
}