#order {
  .order-text {
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    flex-direction: column;

    h2 {
      @include text-lava();
      text-align: center;
    }

    p {
      margin: 40px 0 20px 0;
      text-align: center;

      b i {
        @include text-lava();
      }
    }
  }

  .order-form {
    align-items: center;
    flex-direction: column;
  }

  div {
    display: flex;
    justify-content: center;

    form {
      display: flex;
      align-items: center;
      flex-direction: column;

      input,
      label,
      p,
      select {
        width: 250px;
      }

      button {
        width: 120px;
      }

      button,
      input,
      select {
        padding: 5px;
        color: #ffffff;
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        background: transparent;
        font-size: 1.05em;
        transition: all 0.3s ease;

        &:focus {
          border-color: $lava_color1;
          outline: none !important;
        }
      }

      p {
        visibility: hidden;
        color: red;
      }

      button {
        transition: all 0.3s ease;

        &:hover {
          border-color: $lava_color1;
          background: $lava_color2;
          cursor: pointer;
        }
      }
    }

    img {
      width: 70%;
      height: 70%;
      margin-top: 50px;
    }
  }

  @media only screen and (min-width : 728px) {
    .order-text {
      margin-top: 70px;

      p {
        width: 33%;
      }
    }

    .order-form {
      height: 100%;
      flex-direction: row;

      form {
        width: 50%;
        height: 100%;
        justify-content: center;
      }

      div {
        width: 50%;
        height: 100%;

        img {
          position: relative;
          top: 10%;
          width: initial;
          height: 70%;
          margin-top: 0;
        }
      }
    }
  }
}

@keyframes wrongInput {
  from {
    transform: translateX(0px);
  }

  20% {
    transform: translateX(5px);
  }

  40% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
  }

  80% {
    transform: translateX(-5px);
  }

  to {
    transform: translateX(0px);
  }
}