@import "section_what",
        "section_rules",
        "section_facts",
        "section_order";

section {
  display: flex;
  height: 100%;
  color: $text-color;
  background-color: $primary-color;
  flex-direction: column;
}