#facts {
  display: flex;
  overflow: hidden;

  .floor {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../img/floor1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;

    div {
      display: flex;
      height: 100%;
      flex-direction: column;

      .animal {
        position: relative;
        top: 10%;
        height: 110%;
      }

      .fire {
        position: relative;
        top: -80%;
        height: 110%;
      }
    }
  }

  section {
    min-height: 620px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #000;
    background-color: transparent;
    text-align: center;

    h2 {
      @include text-lava();
      margin: 20px 0 40px 0;
    }

    ul {
      padding: 20px;
      border-radius: 20px;
      background-color: rgba(126, 120, 113, 0.6);

      li {
        padding-top: 10px;
        list-style: none;
      }
    }
  }

  @media only screen and (min-width : 728px) {
    .floor {
      div {
        .animal {
          top: -10%;
          height: 140%;
        }

        .fire {
          top: -130%;
          height: 140%;
        }
      }
    }

    section {
      min-height: 450px;
      margin-top: 40px;
    }
  }
}